:root {
    --primary-color: coral;
    --secondary-color: #252526;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    box-sizing: border-box;
    margin: 0 0;
}

body {
    width: 1250px;
    max-width: 100%;
    margin: 30px auto;
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;

}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.section-title {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 50px;
    color: var(--primary-color);

}

.section-subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 26px;
    text-align: center;
    color: var(--secondary-color);
    padding-bottom: 50px;

}

.button-primary {
    background-color: var(--primary-color);
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    margin: 80px auto;

}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title {
    font-size: 40px;
    font-family: 'Racing Sans One';
    font-weight: 700;
}

.header-container>h1>span {
    color: var(--primary-color);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

nav ul li {
    font-size: 24px;

}

.header-container a:hover {
    background-color: #FFE4E8;
    padding: 10px;
    border-radius: 5px;

}

section {
    margin: 200px 0;
}

/* Main */

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.intro-container h1 {
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
}

.person {
    width: 400px;
}


/* video css */

.video-container {
    display: flex;
    flex-direction: column;

}


video {

    display: flex;
    margin: 0 auto;
    width: 780px;
    align-items: center;
    position: relative;
    top: 200px;



}

.video-frame {

    display: flex;
    width: 800px;
    margin: 0 auto;
    position: relative;
    bottom: 260px;
    filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.2));
    overflow: hidden;
    align-items: center;

}

/* Tech Stack */

.tech-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;

}

.tech-container img {
    margin: auto;
    width: 90px;

}

.hide {
    display: none;
}

/* Projects */



.p-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 26px;

}

.sub-title {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #666666;
    margin: 20px 0;

}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
    justify-items: center;

}

.projects {
    background: #FFFFFF;
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 600px;
}

.projects>img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.ptoject-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


table {
    width: 100%;
}


.p-footer-tr {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/* Cources */

.cource-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    justify-items: center;

}

.cources {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
    padding: 13px 17.42px 16.01px 11px;
    border-radius: 12px;
    max-width: 250px;
}

.cources img {
    height: 104px;
    width: 224px;
    align-self: center;

}

.cources h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14.6913px;
    line-height: 17px;
    color: #ED6B4F;


}


.c-footer,
.c-footer-1 {
    display: flex;
    align-items: center;
}

.c-footer {
    justify-content: space-between;
}

.c-footer-1 img {
    width: 12.39px;
    height: 11.81px;
}

#star-last {
    color: #AEAEAE;
    opacity: 0.25;
}

.c-footer-1 h5 {
    margin-left: 10.71px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.time {
    display: flex;
    align-items: center;
    background: #FFE4E8;
    border-radius: 14.6913px;
    float: right;
    padding: 5.34px;

}

.time img {
    width: 20.03px;
    height: 20.03px;
    padding-right: 5.42px;
}

/* Skills */

.skillset-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 26px;
    text-align: center;
    padding: 50px;
    color: var(--primary-color);

}

.skill-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 60px;
    justify-items: center;
}

.skill {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skill-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 5px;
    text-align: left;
    color: var(--secondary-color);
    padding-bottom: 2px;


}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 15px;
}

progress[value]::-webkit-progress-bar {
    background-color: #cccccc;
    border-radius: 4px;
}

progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .2) 33%, rgba(0, 0, 0, .2) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #1000ff, #359900);
    border-radius: 4px;
    background-size: 20px 15px, 100% 100%, 100% 100%;
}


/* Education and Experiences */
.edu-ex-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.edu-container,
.edx-container {
    display: flex;
    gap: 10px;
    flex-direction: column;

}

.edu-ex-title {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #474747;
}

.edx-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #757575;
}

.edx-details {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;

}

/* Publications */

.pub-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.pub {
    display: flex;
    gap: 30px;
    background: #FFFFFF;
    box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}
.pub-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
}
.pub-title {
    font-size: 16px;
    font-weight: 700;
    text-align: justify;
}

.pub-img {
    width: 300px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}










/* Footer */
footer {
    background: #1E1E1E;
    padding: 50px 0;
}





/* Responsive  */


@media only screen and (max-width: 994px) {

    .intro-container {
        flex-direction: column;
        overflow-x: hidden;


    }

    video {
        width: 580px;
        position: relative;
        

    }

    .video-frame {
        width: 600px;
        bottom: 140px;

    }

    .tech-container {

        grid-template-columns: repeat(4, 1fr);

    }

    .projects-container {
        grid-template-columns: repeat(2, 1fr);

    }

    .cource-container {

        grid-template-columns: repeat(2, 1fr);


    }

    .skill-container {

        grid-template-columns: repeat(2, 1fr);
    }

    .edu-ex-container {
        flex-direction: column;
    }
    .pub {
        
        flex-direction: column;
       
    }
    .pub-img {
        width: 100%;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 18px;
    }



}

@media only screen and (max-width: 576px) {
    .header-container {
        flex-direction: column;
    }

    .tech-container {

        grid-template-columns: repeat(2, 1fr);

    }

    .projects-container {
        grid-template-columns: repeat(1, 1fr);

    }

    .cource-container {

        grid-template-columns: repeat(1, 1fr);


    }

    .skill-container {

        grid-template-columns: repeat(1, 1fr);
    }

    .skillset-title {
        text-align: center;
    }

    video {
        width: 190px;
        position: relative;
        
        

    }

    .video-frame {
        width: 200px;
        bottom: 0px;
        top: 86px;

    }
    




}